<!DOCTYPE html>
<html>
<head>
    <title>Apache Parser</title>
</head>
<body>
    <h1>Главная страница</h1>
    <p>Приветствуем вас! Что бы вы хотели сделать?</p>
    
    <button onclick="location.href='/ip-addresses'">Посмотреть все IP-адреса</button><br><br>
    <button onclick="location.href='/dates'">Посмотреть даты</button><br><br>
    <button onclick="location.href='/upload_form'">Загрузить лог-файл</button><br><br>
    <button onclick="location.href='/view-all'">Просмотреть все записи</button><br><br>
</body>
</html>
